# Ignore dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Uploaded files
uploads/
temp/
encoded/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
