/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

:root {
  --primary-color: #ff7e5f;
  --secondary-color: #86a8e7;
  --button-color: #222;
  --hover-color: #eb920d;
}

/* Full-screen background container */
.login-page-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(65deg, #FFD662FF, #00539CFF, #FFD662FF, #00539CFF);
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
  z-index: -1; /* Make sure it stays behind other content */
}

/* Keyframes for the gradient animation */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


#root{
  width: -webkit-fill-available;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: black;
  margin: 0;
}

.forgot-password-container, .new-account-container, .sms-verify-container {
  width: 100%;
  padding: 2rem;
  background: radial-gradient(circle at top left, var(--primary-color), transparent 60%),
  radial-gradient(circle at bottom right, var(--secondary-color), transparent 60%),
  linear-gradient(to right, #1a1a2e, #111);

  border-radius: 12px;
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 1rem;
}

.sso-options {
  margin-top: 1.5rem;
}

.sso-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 12px;
  margin: 8px 0;
  font-size: 16px;
  color: #fff;
  background-color: var(--button-color);
  border: 1px solid #333;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sso-button:hover {
  background-color: var(--hover-color);
}

.sso-button:active {
  transform: scale(0.98);
}

.sso-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

h3 {
  font-size: 16px;
  color: #aaa;
  margin: 1rem 0;
}

/* Form styles */
form {
  margin-top: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

label {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 0.5rem;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #6a67ce;
  box-shadow: 0 0 5px rgba(106, 103, 206, 0.2);
}

.login-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: var(--button-color);
  color: #fff;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: var(--hover-color);
}

.bottomLinks {
  margin-top: 1rem;
}

.for-you-card > p{
  color: black;
}


.for-you-container > h2 {
  color: black;
}

.for-you-card {
  background-color: #ffff9f;
  border-radius: 12px;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.for-you-container {
  width: 100%;
  max-width: 800px;
  padding: 20px;

}

.keypad-container {
  width: 200px;
  height: 300px;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.display {
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.camera {
  width: 60px;
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.camera-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100px;
}

.button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--button-color);
}

.icon-paragraph{
  margin-left: 10px;
}

.audio-room-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 16px;
  font-family: Arial, sans-serif;
}

.room-header {
  text-align: left;
  margin-bottom: 2px;
}

.room-header h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 0;
}

.room-header .room-name {
  font-size: 12px;
  color: gray;
}

.room-name{
  display: flex;
  align-items: center; /* Vertically centers the icon and text */
  gap: 8px;
}

.speakers-section, .followed-section {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.speaker, .follower {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.speaker-icon, .follower-icon {
  font-size: 60px;
  color: #ccc;
}

.mute-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
  color: red;
}

.speaker-name, .follower-name {
  font-size: 14px;
  margin-top: 4px;
}



.footer {
  text-align: center;
  margin-top: 20px;
}

.footer p {
  font-size: 12px;
  color: gray;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.leave-button, .raise-hand-button {
  background-color: #f0f0f0;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}



.raise-hand-button {
  color: #333;
}

.exit{
  color: red;
  padding-left: 5px;
}

.hosting{
  border: 2px solid #333;
}

.audio-room-container h2{
  color: #333;
}

.live-chat-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

.chat-messages {
  max-height: 300px;
  overflow-y: auto;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
}

.chat-message {
  background-color: #e6f7ff;
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 15px;
  max-width: 80%;
}

.live-chat-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

#message {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

.message-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.sso-button:hover {
  background-color: #0056b3;
}





.new-account-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-account-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--button-color);
}

.new-account-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: calc(100% - 22px); /* Adjust for padding and border */
}

.new-account-form input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.new-account-container p {
  margin-top: 15px;
  color: #333;
}

.new-account-container p a {
  color: #007bff;
  text-decoration: none;
}

.new-account-container p a:hover {
  text-decoration: underline;
}

.login-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 0.85em;
  overflow: visible;
  vertical-align: -0.125em;
}

.Timestamp{
  color: #333;
  font-size: 9px;
}