.job-assignment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 1600px;
  margin: auto;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.assign-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.assign-button:hover {
  background-color: #0056b3;
}

.employees-list,
.jobs-list {
  width: 100%;
  margin-top: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #007bff;
}

ul {
  list-style-type: none;
  padding: 0;
  display:  inline-flex;
}

li {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.EmployeeItem{
  border-left: 2px solid black;
  font-size: 10px;
  margin-left: 10px;
}

td{
  padding: 10px;
}

tr:nth-child(even){
  padding: 10px;
  background-color: lightgoldenrodyellow;

}

tr:nth-child(odd){
  padding: 10px;
  background-color: lightgray;
}