*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: darkblue;
    --secondary-color: lightblue;
    --background-color: white;
    --font-color: black;
    --button-font-color: white;


}

.loginBox{
    width: 800px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--secondary-color);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

button{
    cursor: pointer;
    background-color: var(--primary-color);
    margin-top: 5px;
    padding: 10px;
    border-radius: 100px;
    color: var(--button-font-color);
    font-weight: bold;
}


body{
    background-color: var(--background-color);
    color: var(--font-color);
}

a{
    text-decoration: none;
    color: inherit;
}

input, textarea, select{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}


