.is-disabled,
[disabled],
[aria-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

.is-disabled .btn,
.btn:disabled,
.btn[aria-disabled="true"] {
  opacity: 0.6;
}

.input:disabled,
.select:disabled,
.textarea:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}